.res-details-cont1{
    background: url('../../assets/images/restaurant-detail-header-image.jpg') no-repeat scroll 0 0 / cover;
  }
  
  .res-details-cont1-text{
    padding-top: 100px !important;
    padding-bottom: 100px !important;
  }
  
  .category-list{
    list-style: none;
  }
  
  .listing-category ul li p {
    color: #999ba3 !important;
    cursor: pointer !important;
    font-size: 13px;
    line-height: 24px;
    font-family: 'Montserrat', sans-serif !important;
    margin: 0px;
    padding: 10px 0px;
    border-bottom: 1px solid #dee1e9;
  }
  
  .listing-category ul li p:hover {
    color: #eb6825 !important;
  }
  
  .restaurant-title {
    font: 400 32px 'Montserrat', sans-serif !important;
    color: white;
  }
  
  .restaurant-text {
    font: 400 14px/24px 'Open Sans', sans-serif !important;
    color: white;
  }
  
  .res-details-tab-active{
    background-color: white !important;
    color: #eb6825 !important;
    box-shadow: 0 -5px 4px -2px rgba(0, 0, 0, 0.1) !important;
  }
  
  .res-details-tab-text {
    font-size: 15px !important;
    font-weight: 600 !important;
    font-family: "Roboto", sans-serif !important;
    cursor: pointer;
    margin: 12px 0px !important;
    transition: all 0.3s ease-in-out !important;
  }
  
  .res-details-tab-text:hover {
    color: #eb6825 !important;  
  }
  
  .input-group .search-menu-input {
    color: #aaaaaa !important;
    border-top: none;
    border-right: none;
    border-left: none;
  }
  
  .input-group .search-menu-input::placeholder {
    color: #b0b1bd !important;
  }
  
  .input-group-append .search-menu-text {
    color: #b0b1bd !important;
    border-top: none;
    border-right: none;
    border-left: none;
  }
  
  .menuItemsListAddBtn{
    display: inline-block;
    text-align: center;
    font-size: 12px;
    border-radius: 80px;
    border: 1px solid #eb6825;
    padding: 4px 8px 4px 8px;
    margin: 0px 16px;
    cursor: pointer;
  }
  
  .order-card ul{
    list-style: none;
  }
  
  .order-card h5{
    font: 700 Normal 16px/22px "Montserrat", sans-serif !important;
  }
  .order-card p{
    font-size: 12px !important;
    font-family: "Roboto", sans-serif !important;
  }
  
  .order-card .food-item {
    font-size: 12px !important;
    font-family: "Roboto", sans-serif !important;
  }
  
  .food-price{
    font-weight: 600 !important;
  }
  
  .remove-food-item{
    color: #999ba3 !important;
    font-size: 10px !important;
    margin-left: 10px !important;
    cursor: pointer;
  }
  
  .review-section h5 {
    font: 700 Normal 16px/22px "Montserrat", sans-serif !important;
  }
  
  .info-section h5 {
    font: 700 Normal 16px/22px "Montserrat", sans-serif !important;
  }
  
  .info-section p {
    font: Normal 14px/24px "Roboto", sans-serif !important;
  }